@import "tailwindcss";

@theme {
  /* Custom Breakpoints (Screens) */
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;

  /* Font Family */
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* Customizing the container utility */
@utility container {
  margin-inline: auto; /* Equivalent to center: true */
  padding-inline: 1rem; /* Equivalent to DEFAULT padding */

  @variant md {
    padding-inline: 2rem; /* Equivalent to md padding */
  }
}

@layer base {
  .nav-item {
    @apply px-4 py-1.5 rounded-full text-white/70 text-sm font-semibold hover:bg-white/10 hover:text-white transition duration-300;
  }
}
